*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    padding: 20px;
}

.header__nav{
    display: flex;
    gap: 30px;
}

.header__nav__link{
    text-decoration: none;
}

.main{
    display: flex;
    justify-items: center;
}

.main__videoFondo{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.main__logo{
    position: relative;
    padding: 0 0 0 40px;
}